.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    background-color: darkcyan;
    padding: 2rem;
}

.property {
    background-color: bisque;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.btn {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #3e8e41;
    
}

.btn:active {
    background-color: #010e02;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   
}
.pri{
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px ;
}
.imp{
    width: 50px;
    height: 2px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 8px;
}
.inp {
    width: 10px;
    height: 2px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 8px;
}
.head {
    background-color: #f7f7f7;
    padding: 20px;
    
  }
  .filter {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
    margin: 0 auto;
  }
  .filter h1 {
    color: #ffffff;
    margin-bottom: 10px;
  }
  .filter button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .filter button:hover {
    background-color: #3e8e41;
  } 
  .filter-options {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 100px;
  }
  
  .filter-options label {
    margin-bottom: 10px;
  }
  
  .filter-options select, .filter-options input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .property {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin: 0 auto;
  }
  
  .property-image {
    width: 300px;
    height: 200px;
    
    border-radius: 10px 10px 0 0;
  }
  
  .property h2 {
    margin-top: 0;
  }
  
  .property p {
    margin-bottom: 10px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #3e8e41;
  }
  
  /* Responsive design */
  
  @media only screen and (max-width: 768px) {
    .filter {
      max-width: 100%;
      margin: 0;
    }
    .filter-options {
      max-width: 100%;
      margin: 0;
    }
    .property {
      max-width: 100%;
      margin: 0;
    }
    .property-image {
      height: 150px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .filter {
      padding: 10px;
    }
    .filter-options {
      padding: 10px;
    }
    .property {
      padding: 10px;
    }
    .property-image {
      height: 100px;
    }
  }